NEXT_PUBLIC_APP_NAME=Alpaca Invoice
NEXT_PUBLIC_RELAYER_URL=http://localhost:4100
NEXT_PUBLIC_CHAIN_NAME=Fhenix Helium
NEXT_PUBLIC_BLOCK_EXPLORER_URL=https://explorer.fhenix.zone
NEXT_PUBLIC_RELAYER_CHAIN_ID=42069
NEXT_PUBLIC_RELAYER_VERIFYING_CONTRACT=0x0000000000000000000000000000000000000000
